<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ItunesStack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F0D57901EE7C82600AEA97D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F0D57A91EE7C82700AEA97D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F0D57B41EE7C82700AEA97D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
